
@font-face {
    font-family: 'gilroyextrabold';
    src: url('./fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lobster';
    src: url('./fonts/lobster/Lobster-Regular.eot');
    src: url('./fonts/lobster/Lobster-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/lobster/Lobster-Regular.woff') format('woff'),
        url('./fonts/lobster/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Cabin';
    src: url('./fonts/cabin/Cabin-Regular.eot');
    src: url('./fonts/cabin/Cabin-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/cabin/Cabin-Regular.woff') format('woff'),
        url('./fonts/cabin/Cabin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/cabin/Cabin-Bold.eot');
    src: url('./fonts/cabin/Cabin-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/cabin/Cabin-Bold.woff') format('woff'),
        url('./fonts/cabin/Cabin-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato/Lato-Black.eot');
    src: url('./fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/lato/Lato-Black.woff') format('woff'),
        url('./fonts/lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato/Lato-Regular.eot');
    src: url('./fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/lato/Lato-Regular.woff') format('woff'),
        url('./fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato/Lato-Bold.eot');
    src: url('./fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/lato/Lato-Bold.woff') format('woff'),
        url('./fonts/lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

